__pycache__/
*/__pycache__/
*old.py
*old.json
recommender_results/
*/recommender_results/
UniRetrieval.egg-info/
tmp_trainer/
build/
examples/recommendation/inference/inference_data/recflow/*

.vscode/
saves/
*/saves/
